:root {
  --main-color-text: #212121;
  --color-hover: #2196f3;
  --color-acent: #757575;
  --color-white: #ffffff;
  --color-social-links: #afb1b8;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: var(--color-white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* Шапка сайта  */
.page-header {
  border: 1px solid #ececec;
  cursor: pointer;
}

.row-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  margin: 24px 93px 25px 0;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-hover);
}

.text-studio {
  color: #000000;
}

/* Навигация сайта */
.list-nav {
  display: flex;
  padding: 0;
}

.link {
  margin: 0 30px;
}

.link-nav {
  position: relative;
  display: block;
  padding: 32px 0 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-hover);
}

.link-nav::after {
  content: '';
  position: absolute;

  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;

  background-color: var(--color-hover);
  border-radius: 2px;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover::after,
.link-nav:focus::after {
  opacity: 1;
}

/* Имейл и телефон */
.auth-list {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.item-auth:not(:last-child) {
  margin-right: 50px;
}

.auth-list .tel {
  width: 142px;
}

.auth-link {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;

  width: 161px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-acent);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Иконка(ки) SVG */
.icon-auth {
  margin-right: 10px;
}

.auth-link:hover,
.auth-link:focus {
  color: var(--color-hover);
  fill: var(--color-hover);
}

/* Герой */
.hero {
  padding: 200px 0 200px 0;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img\ .jpg);
}

h1 {
  margin: 0 0 30px 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  display: block;
  margin: 0 auto;
}

.button {
  padding: 10px 32px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--color-white);
  background: var(--color-hover);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background: #188ce8;
}

/* Модальное окно */
.beckdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;

  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background: var(--color-white);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 6px;

  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  fill: var(--color-hover);
}

.input-form:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-hover);
}

.input-form:focus + .position-svg {
  fill: var(--color-hover);
}

.text-modal {
  margin: 0 0 12px 0;
  padding: 40px 40px 0 40px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color-text);
}

.form-modal {
  margin: 0 auto;
  width: 448px;
  height: 342px;
}

.form-filed {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-filed:nth-child(4) {
  margin-bottom: 20px;
}

label {
  margin-bottom: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--color-acent);
}

.input-form {
  padding-left: 42px;
  height: 40px;
}

.position-svg {
  position: absolute;
  top: 50%;
  left: 12px;
}

textarea {
  resize: none;
  height: 138px;
  padding: 12px 16px;
}

.checkbox {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.label-checkbox {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-acent);
}

.label-checkbox::before {
  content: '';

  display: block;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color-text);

  background-image: url(./vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .label-checkbox::before {
  border: 2px solid var(--color-hover);
  background-color: var(--color-hover);
}

.style-link {
  margin-left: 3px;

  color: var(--color-hover);
  border-bottom: 1px solid var(--color-hover);
}

.input-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
}

.btn-modal {
  margin: 0 auto;
  padding: 10px 55px 10px 56px;

  background: var(--color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-white);
}

/* Кнопки портфолио */
.button-portfolio {
  margin: 0;
  padding: 114px 0 50px 0;
}

.list-filters {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.item-filters:not(:last-child) {
  margin-right: 8px;
}

.button-filters {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color-text);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filters:hover,
.button-filters:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--color-white);
  background-color: var(--color-hover);
}

/* Карточки портфолио */
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 74px 0;
  padding: 0;
}

.item-portfolio {
  margin: 0 30px 30px 0;
  background: var(--color-white);

  width: 370px;
}

.item-portfolio:nth-child(3n) {
  margin-right: 0;
}

.item-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-portfolio {
  overflow: hidden;
  display: block;
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.style-img {
  display: block;
}

.portfolio-description {
  position: relative;
}

.text-description {
  position: absolute;

  top: 0;
  margin: 0;
  padding: 63px 24px;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.57;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(294px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description:hover .text-description,
.link-portfolio:focus .text-description {
  transform: translateY(0px);
  opacity: 1;
}

.box {
  position: relative;
  background: var(--color-white);
  border: 1px solid #eeeeee;
}

.title-portfolio {
  margin: 0;
  padding: 20px 24px 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text);
}

.text-portfolio {
  margin: 0;
  padding: 0 24px 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-acent);
}

/* Особенности */
.feature {
  padding: 94px 0 94px 0;
}

.list-feature {
  display: flex;
  margin: 0;
  padding: 0;
}

.item-feature {
  margin-right: 30px;
  width: 270px;
}

/* Иконка(ки) SVG */
.icon-feature {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;
}

.item-feature:last-child {
  margin-right: 0;
}

.title-feature {
  margin: 0 0 10px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-text);
}

.text-feature {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-acent);
}

/* Чем мы занимаемся */
.work {
  margin-bottom: 94px;
}

.title-work {
  margin: 0 0 50px 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

.list-work {
  display: flex;
  padding: 0;
  margin: 0px;
}

.box-img {
  position: relative;

  z-index: -1;

  margin-right: 30px;
}

.box-img:last-child {
  margin-right: 0;
}

/* Лейбы на картинках */
.label-text {
  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0;
  padding: 27px 0 27px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
}

/* Наша команда */
.team {
  padding: 94px 0 94px 0;
  background: #f5f4fa;
}

.title-team {
  margin: 0 0 54px 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

.list-team {
  display: flex;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

.text {
  margin: 0 0 16px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-acent);
}

.item-team {
  margin-right: 30px;
  width: 270px;

  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item-team:last-child {
  margin-right: 0;
}

.box-team {
  padding: 30px 32px;
}

/* Иконка(ки) SVG */
.list-icon {
  display: flex;
  padding: 0;
}

.item-icon:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  background-color: var(--color-white);
  fill: var(--color-social-links);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--color-hover);
  fill: var(--color-white);
}

/* Постоянные клиенты */
.customers {
  padding: 94px 0;
}

.title-customers {
  margin: 0 0 50px 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color-text);
}

.list-customers {
  display: flex;
  margin: 0;
  padding: 0;
}

.item-customers:not(:last-child) {
  margin-right: 30px;
}

.link-customers {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  fill: var(--color-social-links);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-customers:hover,
.link-customers:focus {
  fill: var(--color-hover);
  border: 1px solid var(--color-hover);
}

/* Подвал */
.footer {
  padding: 60px 0 60px 0;
  background: #2f303a;
}

.block-footer {
  display: flex;
  align-items: baseline;
}

/* Блок адрес */
.box-address {
  margin-right: 70px;
  width: 227px;
}

.logo--footer {
  display: inline-block;
  margin: 0 0 20px 0;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-hover);
}

.logo-foot {
  color: var(--color-white);
}

.address-text {
  margin: 0 0 9px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.contact-text {
  display: block;
  margin: 0 0 9px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-text:last-child {
  margin: 0;
}

.contact-text:hover,
.contact-text:focus {
  color: var(--color-hover);
}

/* Соц. сети */
.social {
  margin-right: 93px;
}

.text-join {
  display: inline-block;
  margin: 0 0 20px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-white);
}

.list-social {
  display: flex;

  padding: 0;
  margin: 0;
}

.item-social:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:hover,
.icon-social:focus {
  background: var(--color-hover);
}

/* Подпишитесь на рассылку */
.text-input {
  margin: 0 0 20px 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-white);
}

.box-form {
  display: inline-flex;
}

.email-input {
  padding: 16px 0 16px 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
}

.btn-input {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 10px 28px 10px 29px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);

  background: var(--color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.svg-margin {
  margin-left: 10px;
}
